@model List<PostModel>
@using Etkinlik.Controllers
@inject PostController PostController
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    @Html.Partial("~/Views/metaTag.cshtml")
    <script type="text/javascript" src="~/lib/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/HomeIndex.js"></script>
</head>
<body>
    <div class="container" style="margin-top:80px">
        <div class="row no-gutter">
            <div class="col-lg-6">
                <div class="col-height left">
                    <div class="col-text text">
                        <div class="panel panel-default">

                            <div class="heading">
                                <div class="headingg">
                                    <strong style="color:white">Etkinlik Tablosu</strong>
                                </div>
                            </div>

                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning" style="color:gray">
                                        <tr>

                                            <td>Etkinlik Adı</td>
                                            <td>Etkinlik Ayrıntısı</td>
                                            <td>Etkinlik Saat ve Tarihi</td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var post in Model)
                                        {
                                            <tr>
                                                <td>@post.PostName</td>
                                                <td>@post.PostDesc</td>
                                                <td>@post.PostDate.Day:@post.PostDate.Month:@post.PostDate.Year @post.PostTime</td>

                                                @{ string linkName = "link" + post.Id;
                                                    string linkSharp = "#" + linkName;}
                                                <td class="td-actions text-right">

                                                    <i class="glyphicon glyphicon-user" style="color:gray" data-toggle="collapse" data-parent="#accordion1" href=@linkSharp></i>
                                                    @if (!PostController.HasIn(post, userManager.GetUserId(User)))
                                                    {
                                                        <a href="Post/join/@post.Id" button type="button" style="color:gray;right: 15px;" class="btn btn-primary btn-link btn-sm" data-original-title="Katıl" data-parent="#accordion1">

                                                            <i class="glyphicon glyphicon-plus"></i>

                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="Post/quit/@post.Id" button type="button" style="color:gray;right: 15px;" class="btn btn-primary btn-link btn-sm" data-original-title="Çık" data-parent="#accordion1">
                                                            <i class="glyphicon glyphicon-remove"></i>


                                                        </a>

                                                    }


                                                    <ul id=@linkName class="collapse">
                                                        @foreach (var userName in PostController.getUsers(post))
                                                        {
                                                            <li>@userName</li>
                                                        }
                                                    </ul>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div style="position:absolute">
                    <h1> Soru1 </h1>
                    <h2>Cevap1</h2>
                    <h2>Cevap2</h2>
                </div>
                <div class="chartt"> <canvas id="myChart"></canvas> </div>
            </div>
        </div>
    </div>
    <script>getLastSurvey();</script>

    <script type="text/javascript" src="~/js/ChartTest.js"></script>
</body>
</html>