@model List<PostModel>
@using Etkinlik.Controllers
@inject PostController PostController
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Home Page</h2>
    <br />
    <br />

    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="container">

            @foreach (var post in Model)
            {
                <div class="container">
                    <div class="row">
                        <ul id="menu" style="float:left; list-style:none; margin-left:20px;">
                            <li>@post.PostName</li>
                            <li>@post.PostDesc</li>
                            <li>@post.PostDate.Day:@post.PostDate.Month:@post.PostDate.Year @post.PostTime</li>
                        </ul>
                        <ul>
                            <li class="panel">
                                @{ string linkName = "link" + post.Id;
                                    string linkSharp = "#" + linkName;}
                                <button button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1" href=@linkSharp>Katılımcılar</button>
                                @if (! PostController.HasIn(post, userManager.GetUserId(User)))
                                {
                                    <a href="Post/join/@post.Id" button type="submit" class="btn btn-default" data-parent="#accordion1">Katıl</a>
                                }
                                else
                                {
                                    <a href="Post/quit/@post.Id" button type="submit" class="btn btn-default" data-parent="#accordion1">Çık</a>
                                }
                                <ul id=@linkName class="collapse">
                                    @foreach (var userName in PostController.getUsers(post))
                                    {
                                        <li>@userName</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </form>
</body>
</html>