@model List<PostModel>
@inject  Etkinlik.Controllers.PostController PostController
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <br />
    @if (Model.Count == 0)
    {
        <a href="Post/Add">
            <button type="submit" class="btn btn-default">Add Activity</button>
        </a>

    }
    else
    {
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="container">
                <div class="row">
                    <ul id="menu" style="float:left; list-style:none; margin-left:20px;">
                        <li>Etkinlik Adı</li>
                        <li>Etkinlik Detayı</li>
                        <li>Etkinlik Saat ve Tarihi</li>
                    </ul>
                    <br />
                    <br />
                </div>
            </div>

            @foreach (var post in Model)
            {
                <div class="container">
                    <div class="row">
                        <ul id="menu" style="float:left; list-style:none; margin-left:20px;">
                            <li>@post.PostName</li>
                            <li>@post.PostDesc</li>
                            <li>@post.PostDate.Day:@post.PostDate.Month:@post.PostDate.Year @post.PostTime</li>
                        </ul>
                        <ul>
                            <li class="panel">
                                @{ string linkName = "link" + post.Id;
                                    string linkSharp = "#" + linkName;}
                                <button button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1" href=@linkSharp>Katılımcılar</button>
                                <a href="/Post/update/@post.Id" button type="submit" class="btn btn-default" data-parent="#accordion1">Update</a>
                                <a href="/Post/delete/@post.Id" button type="submit" class="btn btn-default" data-parent="#accordion1">Delete</a>
                                <ul id=@linkName class="collapse">
                                    @foreach (var userName in PostController.getUsers(post))
                                    {
                                        <li>@userName</li>
                                    }

                                </ul>


                            </li>
                        </ul>


                    

                            <a href="Post/Add"
                                button class="btn btn-default"> Add Activity
                            </a>

                    </div>
                </div>
                                    }


        </form>
                                    }
</body>
</html>