@model List<SurveyModel>
@inject  Etkinlik.Controllers.SurveyController SurveyController

@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Anket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Anket</title>
    @Html.Partial("~/Views/metaTag.cshtml")
    <script src="~/lib/Chart.bundle.min.js"></script>
</head>
<body>
    @if (Model.Count == 0)
    {
        <div class="error-msg">
            <i class="fa fa-times-circle"></i>
            Please click the below button for the add new survey...
        </div>

        <div class="icon">
            <a href=Survey/Add class="link pluss" target="">
                <span class="fa fa-plus-circle"></span>
            </a>
        </div>

    }
    else
    {
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

            <div class="container" style="margin-top:80px">
                <div class="row">
                    <div class="col-lg-6 col-md-12">

                        <div class="panel panel-default">
                            <div class="heading">
                                <div class="headingg">
                                    <strong style="color:white">Anket Tablosu</strong>
                                </div>
                            </div>

                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning" style="color:gray">
                                        <tr>
                                            <th>Anket Sorusu</th>
                                    <tbody>
                                        @foreach (var survey in Model)
                                        {
                                            <tr>
                                                <td>@survey.SurveyTitle</td>

                                                @{ string linkName = "link" + survey.Id;
                                                    string linkSharp = "#" + linkName;}
                                                <td class="td-actions text-right">

                                                    <button button type="button" class="btnnn" data-toggle="collapse" data-parent="#accordion1" href=@linkSharp>Katılımcılar</button>
                                                    <a href="/Survey/delete/@survey.Id" button type="submit" class="btn btn-default" data-parent="#accordion1">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                    <ul id=@linkName class="collapse"></ul>
                                                    @foreach (var choice in SurveyController.getChoices(survey))
                                                    {
                                                        <li>@choice.ChoiceName @choice.Vote</li>
                                                    }

                                                </td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       

                    </div>
                </div>
                <div class="add-survey">
                    <a href="Survey/Add" class="btn btn-default" style="margin-top:-70px; margin-left:770px">Add Survey</a>
                </div>
            </div>
            
</form>
    
        <div class="chart">
            
                <canvas id="myChart"></canvas>

                <script>
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var mychart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },

                    });
                </script>
            </div>
                                      }

</body>

</html>
